    {% block content %}
    {% load static %}
    <head>
        <title>Camera</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="module" src="{% static 'js/index.js' %}"></script>
    </head>
    <body>
        <div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/members">MEMBERS</a>
    </li>
  </ul>
        <div class="container text-center">
            <div class="row">
                <div class="column">
                    3
                </div>
                <div class="column">
                    6
                </div>
            </div>
            <div class="row">
                <div class="column">
                    2
                </div>
            </div>
</div>
        <div class="contentarea">
            <div class="top">SNAPSHOP</div>
            <div class="Input">
                <form method="POST" name="inputForm" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div id="camera" class="camera-container">
                        <video id="video">Switch on camera</video>
                        
                        
                        <input id="webimg" value="" name="src" type="text" style="display: none;">
                        <canvas id="canvas">
                        </canvas>
                    </div>
                    <br>
                    <div>
                        <img id="photo" alt="your image">
                    </div>
                    <br>
                    <div class="controls">
                        <button id="startbutton" type="button">Take photo</button>
                        <button type="submit" class="button" id="submit">Scan Product</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </body>
    {% endblock %}
