{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block content %}
{% load static %}
<head>
        <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" media="all">
    </head>

    <body>
  <div class="login-background">
    <img src="{% static '/images/signup.jpg' %}" alt="Background" class="background-image">
  </div>

  <div class="login-wrapper">
    <div class="login-box">
      <h2>Log In</h2>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Log In</button>
      </form>
    </div>
  </div>
</body>
{% endblock %}