{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock %}

{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" type="text/css" media="all">
</head>
<div class="signup-background">
  <img src="{% static '/images/signup.jpg' %}" alt="Background" class="background-image">
</div>

<div class="signup">
  <div class="signup-box">
    <h2>Sign up</h2>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit">Sign Up</button>
    </form>
  </div>
</div>
{% endblock %}